.container{
    max-width:  1000px;
    margin: 0 auto;
   
}
header{
    text-align: center;
    width: 880px;
    height: 150px;

}
section{
    font-size: 88px;
    color: azure;
    background-color: brown;
}

select{
    font-size: 24px;
    
}

